#productModal1 .modal-dialog {
  max-width: 60%;
  margin: auto;
}
#productModal2 .modal-dialog {
  max-width: 60%;
  margin: auto;
}
#productModal3 .modal-dialog {
  max-width: 60%;
  margin: auto;
}
#productModal4 .modal-dialog {
  max-width: 60%;
  margin: auto;
}
#productModal5 .modal-dialog {
  max-width: 60%;
  margin: auto;
}
#productModal6 .modal-dialog {
  max-width: 60%;
  margin: auto;
}
#productModal7 .modal-dialog {
  max-width: 60%;
  margin: auto;
}
#productModal8 .modal-dialog {
  max-width: 60%;
  margin: auto;
}
#productModal9 .modal-dialog {
  max-width: 60%;
  margin: auto;
}
